<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>QuizServlet.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <display-name>QuizApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>Second</servlet-name>
    <servlet-class>QuizServlet.Second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Third</display-name>
    <servlet-name>Third</servlet-name>
    <servlet-class>QuizServlet.Third</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Third</servlet-name>
    <url-pattern>/Third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fourth</display-name>
    <servlet-name>Fourth</servlet-name>
    <servlet-class>QuizServlet.Fourth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fourth</servlet-name>
    <url-pattern>/Fourth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fifth</display-name>
    <servlet-name>Fifth</servlet-name>
    <servlet-class>QuizServlet.Fifth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fifth</servlet-name>
    <url-pattern>/Fifth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>QuizServlet.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
</web-app>